.btn_container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre horizontalement */
    margin-top: 20px; /* Éventuellement ajuster pour la mise en page */
    margin-bottom: 20px;
}



.btn_liens {
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 25px 0px 25px 0px;
    height: 30px;
    width: 125px;
    color: #704c33;
    background: linear-gradient(#dec9b6, #f8f4ef);
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 14px;
    margin-top: 18px;
    transition: 0.3s;
    cursor: pointer;
    
    &:hover {
        background: linear-gradient(#dec9b6, #f8f4ef);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    }  
}

/* Cacher le menu et montrer le burger en mobile */
@media (max-width: 480px) {
    .liens {
      display: none;
      flex-direction: column;
      height: auto;
      gap: 10px;
      margin-top: 10px;
    }
  
    .burger {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 999; // très haut pour être au-dessus du logo
        background: none;
        border: none;
        cursor: pointer;
        font-size: 24px;
        color: #704c33;
    }
  
    .liens.active {
      display: flex;
    }
  }
  
  /* En desktop : toujours montrer les liens, jamais le burger */
  @media (min-width: 481px) {
    .liens {
      display: flex !important;
      flex-direction: row;
      gap: 10px;
    }
  
    .burger {
      display: none;
    }
  }
  
/**@media (max-width: 480px) {

    .liens {
        display: flex;
       flex-direction: column;
       height: 250px;
       gap: 10px;
   }
}**/

/**.btn {
    justify-content: center;
    display: flex; 
    align-items: center;
    border-radius: 25px;
    height: 30px;
    width: 125px;
    color: #ffffff;
    background: linear-gradient(#dec9b6, #f8f4ef);
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Cormorant Garamond", sans-serif;
    line-height: 18.75px;
    font-size: 16px;
    margin-top: 100px;
    transition: 0.3s;
    cursor: pointer;
    
    &:hover {
        background: linear-gradient(#dec9b6, #f8f4ef);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    }
}**/
